$gap: 10px;
$navbar-app-bg-color: blue;
$navbar-board-bg-color: blue;
$column-footer-height: 36px;
$column-header-height: 36px;
$column-border-radius: 10px;
.board-columns {
  .column-create {
    border-radius: $column-border-radius;

    flex: 0 0 auto;
    width: 300px;

    // max-height: ;
    // height: calc(100% - 10px);
    max-height: calc(100% - #{2 * $gap});
    header {
      cursor: pointer;
      background-color: #ededed;
      padding-left: 20px;
      // height: $column-header-height;
      line-height: $column-header-height;
      font-weight: bold;
      border-top-left-radius: $column-border-radius;
      border-top-right-radius: $column-border-radius;
    }
    > * {
      // background-color: #fff;
      color: #000;
      padding: 0 8px;
    }
    .column-input {
      z-index: 1;
      padding-top: 5px;
      font-size: 15px;
      background-color: #ededed;
      margin: 0;
      max-height: calc(
        100% - #{$column-header-height} - #{$column-footer-height}
      );
      overflow-y: auto;
      .card {
        position: relative;
        padding: $gap;
        margin-bottom: $gap;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: $column-border-radius;
        word-wrap: break-word;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
        .card-delete {
          position: absolute;
          padding: 5px;
          display: none;
          background-color: #fff;
          top: 8px;
          right: 10px;
          border-radius: 50%;
          svg {
            font-size: 13px;
          }
        }
        .card-delete:hover {
          background-color: #ccc9c9;
        }
        &:not(:last-child) {
          margin-bottom: $gap;
        }

        .texarea {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          width: 100%;
          border: none;
          outline: none;
          line-height: 20px;
          font-size: 15px;
          resize: none;
        }
      }
      .cover-edit-cart {
        margin-bottom: 10px;
        .card-edit {
          // display: none;
          position: relative;
          z-index: 2;
          // border: 2px solid #000;
          padding: 5px;

          .card-create {
            // position: absolute;
            top: 110%;
            display: flex;
            gap: 10px;
            &-btn {
              font-size: 14px;
              font-weight: 600;
              color: #fff;
              padding: 10px;
              border-radius: 5px;
              background-color: #0c66e4;
            }
            .card-create-btn:hover {
              background-color: #072754;
            }
            &-x {
              display: flex;
              align-items: center;
              background-color: #ededed;
              padding: 10px;
              border-radius: 5px;
              font-weight: 600;
            }
            .card-create-x:hover {
              background-color: #b6b2b2;
            }
          }
        }
        .card-edit:hover {
          border: 2px solid #fff;
        }
        .card-edit-save {
          width: 100%;
          color: #fff;
          // position: absolute;
          display: flex;
          gap: 10px;
          .card-edit-save-btn {
            cursor: pointer;
            z-index: 2;
            font-size: 14px;
            font-weight: 600;
            padding: 10px;
            border-radius: 5px;
            background-color: #0c66e4;
          }
          .card-edit-save-btn:hover {
            background-color: #072754;
          }
          .card-edit-save-x {
            color: #000;
            cursor: pointer;
            z-index: 2;
            font-size: 14px;
            font-weight: 600;
            padding: 10px;
            border-radius: 5px;
            // background-color: #ededed;
          }
          .card-edit-save-x:hover {
            background-color: #b5afaf;
          }
        }
      }

      .card:hover {
        border: 2px solid #000;
        .card-delete {
          display: flex;
        }
      }
    }
    .add-column {
      background-color: #ededed;
      padding-bottom: 5px;
      // padding: 10px;
      height: $column-footer-height;
      line-height: $column-footer-height;
      border-bottom-left-radius: $column-border-radius;
      border-bottom-right-radius: $column-border-radius;
      display: flex;
      align-items: center;
      // box-sizing: border-box;
      font-weight: 600;
      .add-card {
        // width: 80%;
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding-left: 10px;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 5px;
      }
      .add-card:hover {
        background-color: #d4cfcf;
      }
    }
  }
}
