// $board-bg-colo: red;
$gap: 10px;
$navbar-app-bg-color: blue;
$navbar-board-bg-color: blue;
$column-footer-height: 36px;
$column-header-height: 36px;
$column-border-radius: 10px;
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3em;
  font-size: 14px;
  background: rgb(24, 52, 111);
  background: linear-gradient(
    141deg,
    rgba(24, 52, 111, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(72, 22, 136, 1) 51%,
    rgba(149, 39, 155, 1) 79%,
    rgba(218, 85, 172, 1) 100%
  );

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 40px 1fr;

  .navbar {
    &.app {
      font-size: 13px;
      background-color: #072754;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // box-sizing: border-box;
      border-bottom: 1px solid #0e336d;
      // height: 50px;
      .logo {
        margin-left: 40px;
        width: 80px;
        // background-color: red;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .logo:hover {
        background-color: #0e336d;
        img {
          content: url("https://trello.com/assets/87e1af770a49ce8e84e3.gif");
        }
      }
      .account {
        margin-right: 40px;
        padding: 5px 10px;
        border-radius: 5px;
        background: none rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 6px;
        color: #f8eded;
        font-size: 16px;
        cursor: pointer;
      }
      .account:hover {
        color: #fff;
      }
    }

    &.board {
      font-size: 16px;
      color: #fff;
      background-color: #072754;
      display: flex;
      align-items: center;
      p {
        font-weight: bolder;
        margin: 0;
        margin-left: 45px;
      }
    }
  }
  .board-columns {
    z-index: 2;
    overflow-y: hidden;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    gap: 12px;

    // .smooth-dnd-container {
    // .smooth-dnd-draggable-wrapper {
    .column {
      height: 580px;
      height: calc(100vh - 40px - 50px - 40px);
      width: 300px;
      border-radius: $column-border-radius;
      flex: 0 0 auto;
      margin-right: 20px;
      > * {
        color: #000;
        padding: 0 8px;
      }
      header {
        cursor: pointer;
        background-color: #ededed;
        padding: 5px 8px 0;
        height: $column-header-height;
        line-height: $column-header-height;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        //input edit
        .edit-title-column {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          // background-color: red;
          padding: 5px;
          width: 100%;
          border: none;
          outline: none;
          line-height: 10px;
          font-size: 15px;
          resize: none;
        }

        //title
        .column-drag-title {
          // background-color: red;
        }

        //delete button
        .column-drag-handle-delete {
          opacity: 0;
          padding: 10px;
          cursor: pointer;
          svg {
            font-size: 13px;
          }
        }
        .column-drag-handle-delete:hover {
          line-height: 0;
          background-color: #b6b2b2;
          opacity: 1;
          border-radius: 50%;
          svg {
            font-size: 13px;
          }
        }
      }
      footer {
        background-color: #ededed;
        padding-bottom: 5px;
        // padding: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
        display: flex;
        align-items: center;
        // box-sizing: border-box;
        font-weight: 600;
        .add-card {
          // width: 80%;
          height: 100%;
          width: 90%;
          display: flex;
          align-items: center;
          border-radius: 5px;
          padding-left: 10px;
          gap: 10px;
          cursor: pointer;
          margin-bottom: 5px;
        }
        .add-card:hover {
          background-color: #d4cfcf;
        }
      }
      .list-card {
        z-index: 1;
        padding-top: 5px;
        font-size: 15px;
        background-color: #ededed;
        margin: 0;
        max-height: calc(
          100% - #{$column-header-height} - #{$column-footer-height}
        );
        overflow-y: auto;
        .card {
          z-index: 1;
          position: relative;
          padding: $gap;
          margin-bottom: $gap;
          background-color: #fff;
          border: 2px solid #fff;
          border-radius: $column-border-radius;
          word-wrap: break-word;
          box-sizing: border-box;
          cursor: pointer;
          box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

          .card-content {
            // background-color: blue;
          }

          .card-delete {
            z-index: 2;
            position: absolute;
            padding: 5px;
            display: none;
            background-color: #fff;
            top: 8px;
            right: 10px;
            border-radius: 50%;
            svg {
              font-size: 13px;
            }
          }
          .card-delete:hover {
            background-color: #ccc9c9;
          }
          &:not(:last-child) {
            margin-bottom: $gap;
          }

          .texarea {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            width: 100%;
            border: none;
            outline: none;
            line-height: 20px;
            font-size: 15px;
            resize: none;
          }
        }
        .cover-edit-cart {
          margin-bottom: 10px;
          .card-edit {
            // display: none;
            position: relative;
            z-index: 2;
            // border: 2px solid #000;
            padding: 5px;

            .card-create {
              // position: absolute;
              top: 110%;
              display: flex;
              gap: 10px;
              &-btn {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                padding: 10px;
                border-radius: 5px;
                background-color: #0c66e4;
              }
              .card-create-btn:hover {
                background-color: #072754;
              }
              &-x {
                display: flex;
                align-items: center;
                background-color: #ededed;
                padding: 10px;
                border-radius: 5px;
                font-weight: 600;
              }
              .card-create-x:hover {
                background-color: #b6b2b2;
              }
            }
          }
          .card-edit:hover {
            border: 2px solid #fff;
          }
          .card-edit-save {
            width: 100%;
            color: #fff;
            // position: absolute;
            display: flex;
            gap: 10px;
            .card-edit-save-btn {
              cursor: pointer;
              z-index: 2;
              font-size: 14px;
              font-weight: 600;
              padding: 10px;
              border-radius: 5px;
              background-color: #0c66e4;
            }
            .card-edit-save-btn:hover {
              background-color: #072754;
            }
            .card-edit-save-x {
              color: #000;
              cursor: pointer;
              z-index: 2;
              font-size: 14px;
              font-weight: 600;
              padding: 10px;
              border-radius: 5px;
              // background-color: #ededed;
            }
            .card-edit-save-x:hover {
              background-color: #b5afaf;
            }
          }
        }

        .card:hover {
          border: 2px solid #000;
          .card-delete {
            display: flex;
          }
        }
        .card-ghost {
          transition: transform 0.18s ease;
          transform: rotateZ(5deg);
        }

        .card-ghost-drop {
          transition: transform 0.18s ease-in-out;
          transform: rotateZ(0deg);
        }
        .card-drop-preview {
          background-color: rgba(150, 150, 200, 0.1);
          border: 1px dashed #abc;
          margin: 5px;
        }
      }
      // }
      .column:first-child {
        margin-left: 12px;
      }
      .cards-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
      }
      .column-drag-handle {
        cursor: move;
        padding: 5px;
      }
      .column:hover {
        header {
          .column-drag-handle-delete {
            opacity: 1;
          }
        }
      }
    }
    // }
    // }
  }
  .modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 100%; /* Full width */
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}

//TEST
.list-test {
  display: flex;
  flex-direction: row;
  gap: 20px;
  .column-test {
    background-color: #ededed;
    width: 300px;
    gap: 20px;
  }
}
