.css-1blc1iw-MuiPaper-root-MuiCard-root {
  border: 1px solid #d6d1d1;
}
.css-1blc1iw-MuiPaper-root-MuiCard-root:hover {
  border: 1px solid #333;
  .button-delete-card {
    opacity: 1 !important;
    // background-color: #a19e9e !important;
  }
}

//TITLE CARD
.title-card {
  width: 100%;
  // background-color: red;
}

.button-delete-card {
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.button-delete-card:hover {
  opacity: 1;
  background-color: #a19e9e !important;
}
